.rr {
    line-height: 1.1;
    margin: auto;
    margin-bottom: 7px;
    overflow: hidden;
    margin: 0px;
    padding-left: 25px;
    font-size: 100%;
}

.rr ul {
    overflow: hidden;
    margin: 0px;
    padding-left: 25px;
}

.rr li {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.rr .open {
    max-height: 100px;
    transition: 0.5s;
    overflow: hidden;
}

.rr .closed {
    max-height: 0;
    transition: 0.5s;
    overflow: hidden;
}

.rr .claimBox {
    padding: 0;
    position: relative;
    margin: 5px;
    margin-left: 30px;
}

.rr .toggleButton{
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    left: -25px;
    font-size: x-large;
    top: -5px;
    color: black;
}

.rr .toggleButtonOpen {
    transform: rotate(90deg);
}

.rr .toggleButtonClosed {
    transform: rotate(0deg);
}

.rr .claim {
    position: relative;
    margin-top: .25em;
    border-radius: .5em;
    color: #4A4A4A;
    background: #ECECEC;
    padding: .25em;
    min-height: 2.5em;
    font-size: 100%;
}

.rr .pro {
    background-color: #61B3D9;
    color: white;
    border-color: #61B3D9;
}

.rr .con {
    background-color: #F5A623;
    color: white;
    border-color: #F5A623;
}

.rr .score {
    display: block;
    float: left;
    font-size: 2em;
    padding-right: .25em;
    padding-right: .25em;
    line-height: 1em;
}