body {
    font-family: sans-serif;
}

.rr_li {
    list-style-type: none;
    margin-left: 0px;
}

.rr_ul {
    overflow: hidden;
    margin-left: 0px;
    padding-left: 25px;
}

.closed {
    max-height: 0;
    transition: max-height 0.5s;
}

.claimBox {
    position: relative;
}

.open {
    max-height: 100px;
    transition: 0.5s;
}

.toggleButton{
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    left: -25px;
    font-size: x-large;
    top: -5px;
}

.toggleButtonOpen {
    transform: rotate(90deg);
}

.toggleButtonClosed {
    transform: rotate(0deg);
}

ul {
    margin: 0;
}