body {
    font-family: sans-serif;
}

.rr_li {
    list-style-type: none;
    margin-left: 10px;
}

.rr_ul {
    overflow: hidden;
}

.closed {
    max-height: 0;
    transition: max-height 0.5s;
}

.claim {
    position: relative;
}

.open {
    max-height: 100px;
    transition: 0.5s;
}

.toggleButton{
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    left: -10px;
}

.toggleButtonOpen {
    transform: rotate(90deg);
}

.toggleButtonClosed {
    transform: rotate(0deg);
}

ul {
    margin: 0;
}